*{
    margin: 0;
    padding:0 ;
    box-sizing: border-box;
}

:root{
    --bg: #FCFCFC;
}
body {
    background-color: var(--bg);
  }
.wrapper{
 height: 100vh;
}
.wrapper * {
    font-family:'Roboto', sans-serif ;
 font-size: 17px;
}
.color-header{
    padding: 0 15px;
 display: flex;
 justify-content: space-between;
 align-items: center;
}
#colorScheme,
.hex {
    color: #1f2937;
}
 #seedColor,
 #colorScheme,
 .scheme-Btn{
     border-radius: 8px;
     outline: none
 }

#colorScheme,
.scheme-Btn{
    padding: 8px;
    outline: none;
    border: 1px solid;
}

#seedColor{
    width: 10%;
    height:40px;
    /* outline: none;
    border: none;
    border-color: transparent; */
}
/* make this work to get rid of that uglyyyy border  */
::-webkit-color-swatch,
::-moz-color-swatch {
  border-color: transparent;
}
#colorScheme{
  width: 60%;
  text-transform: uppercase;
  text-align: center;
}
.scheme-Btn {
    width: 15%;
  text-transform: capitalize;
 
  background-color: #1f2937;
  color: #FCFCFC;
}
/* Figure out hover state may have to do this is js */
/* #colorSchemeBtn:hover,
#colorSchemeBtn:focus {
    background-color: #1f2937d5;
    
} */

.color-hex-row,
.color-header{
    height: 10vh;
}
.color-header,
.color-row-box,
.color-hex-row{
    /* border: 1px solid rgb(255, 0, 0); */
}
.color-row-box{
   height: 80vh;
    display: flex;
}
.color{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(211, 211, 211, 0.493);
    width: 20%;
    border-left: 1px solid rgba(211, 211, 211, 0.562);
    border-right: 1px solid rgb(211, 211, 211);
}
.color:hover,
.colro:focus{
    transform: scale(1.02);
}
.color-hex-row{
    display: flex;
    justify-content: center;
    align-items: center;
}
.hex{
    width: 20%;
    text-align: center;
}

 /* Dark mode css */
 /* https://www.cssscript.com/dark-mode-theme/ */
 input[type=checkbox]{
    height: 0;
    width: 0;
    visibility: hidden;
  }
  label {
    cursor: pointer;
    text-indent: -9999px;
    width: 52px;
    height: 27px;
    background: grey;
    float: right;
    border-radius: 100px;
    
    position: relative;
  }
  label::after{
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 90px;
    transition: 0.3s;
  }
  input:checked + label {
    background-color: var(--color-headings);
  }
  input:checked + label::after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
  }
  label:active:after {
    width: 45px;
  }